#site-wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  height: 90vh;
  font-family: Helvetica, sans-serif;

}

#title {
  position: absolute;
  left: -100%;
  top: 40%;
  width: 100%;

}

.title-text {
  display: inline-block;
  padding: 5px 5px 5px;
}

#title h1 {
  font-size: 1.8em;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

#title p {
  font-size: 1em;
  margin-top: 0;
  font-family: sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.horizontal-1 {
  position: absolute;
  top: 0px;
  height: 5px;
  max-height: 5px;
  width: 100%;
  background-color: black;
  left: -100%;
}

.nav{
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #1c1c1c;
  top: 75px;
  left: 200%;
}

.nav a {
  color: white;
  text-decoration: none;
}

.info-box{
  position: absolute;
  top: 56%;
  right: 45px;
  font-family: monospace;
  text-transform: uppercase;
  color: limegreen;
  opacity: 0;
}

.info-box span {
  content: '';
  width: 10px;
  height: 10px;
  background: limegreen;
  border-radius: 50%;
  display: inline-block;
  margin-top:2px;
  position: absolute;
  top: 1px;
  left: -16px;
}

.navigation {
  opacity: 0;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  width: 95%;
  text-transform: uppercase;
  display: inline-block;
  list-style-type: none;
  margin: 3px 0 0 0;
  text-align: right;

  li {
    display: inline-block;
    margin-right: 20px;
  }
}


.main-content {
  //display: none;
  //opacity: 0;
  margin-top: 100px;
}

.main-content h1{
  text-transform: uppercase;
  font-size: 28px;
}

.main-content p {
  font-size: 14px;
  color: #1c1c1cbf;
  line-height: 1.4;
}
